// COLORS VARIABLES
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);
$primary-orange: hsl(25, 97%, 53%);
$star-background: #43434B;


/* ### DEFAULT BODY STYLING ### */
.container {
    background-color: $very-dark-blue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}


/* ### DEFAULT PARAGRAPH STYLING ### */
p {
    font-size: 1.5rem;
    color: $light-grey;
}


/* ### RATING CONTAINER STYLING ### */
.rating-container {
    background-color: $dark-blue;

    width: 37rem;
    height: 37rem;

    border-radius: 2rem;

    padding: 2.7rem;
}


/* ### RATING CONTAINER CONTENT STYLING ### */

/* ### RATING STAR ### */
#star {

    background-color: $star-background;

    width: 3.7rem;
    height: 3.7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;

    img {

        width: 38%;
        height: 36%;

        margin-left: .2rem;

    }
}


/* ### HEADING CONTAINER STYLING ### */    // Refers to <h1> inside the card
#container-heading {
    color: $white;

    font-size: 2.3rem;

    margin-top: 2.4rem;
}


/* ### REQUEST RATING TEXT ### */
#request-rating-text {

    margin-top: 1rem;
    margin-bottom: 1.5rem;

    p {

        font-size: 1.4rem;

        text-align: justify;

        line-height: 2.2rem

    }
}


/* ### RATING RANGE SECTION ### */
#rating-range-items {    // Refers to <ul> inside the card
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 2.3rem;
    margin-bottom: 3.6rem;

    li {

        list-style: none;

        display: inline-block;

        text-align: center;

        color: $light-grey;

        font-size: 1.8rem;

        background-color: $star-background;
        
        width: 4rem;
        height: 4rem;

        padding-top: 1rem;

        border-radius: 8rem;

        cursor: pointer;

        &:hover {
            background-color: $light-grey;
    
            color: $white;
        
            transition: .2s;
        }

        .active-item {
            background-color: $primary-orange;
        
            color: $white;
        }
    }
}


/* ### BUTTON STYLING ### */
#submit-button {
    width: 100%;

    padding: 1rem;

    background-color: $primary-orange;

    border-radius: 2rem;
    border: none;

    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;

    color: $white;

    cursor: pointer;

    &:hover {
        background-color: $white;

        color: $primary-orange;

        transition: .2s;
    }
}