/* Font data import */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Overpass', sans-serif;
}

.attribution { 
    font-size: 11px; text-align: center;

    display: flex;

    width: auto;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}