// COLORS VARIABLES
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);
$primary-orange: hsl(25, 97%, 53%);


/* ### DEFAULT BODY STYLING ### */
.container {
    background-color: $very-dark-blue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}


/* ### DEFAULT PARAGRAPH STYLING ### */
p {
    font-size: 1.5rem;
    color: $light-grey;
}


/* ### THANK YOU CARD STYLING ### */
.thank-you-container {
    background-color: $dark-blue;

    width: 37rem;
    height: 37rem;

    border-radius: 2rem;

    padding: 2.7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ### THANK YOU CARD CONTENT STYLING ### */

/* ### THANK CARD IMAGE ### */
#card-image {
    margin-top: 1rem;
    margin-bottom: 2.7rem;
}


/* ### THANK TITLE STYLING ### */
#thank-title {
    color: $white;

    font-weight: 700;
    font-size: 2.6rem;

    margin-top: 2.6rem;
    margin-bottom: .2rem;
}


/* ### REQUEST RATING TEXT ### */
#thank-text {   // Refers to container wich contains the thank text
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    p {
        font-size: 1.4rem;

        text-align: center;

        line-height: 2.2rem
    }
}

