/* ### DEFAULT BODY STYLING ### */
.container {
  background-color: hsl(216deg, 12%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/* ### DEFAULT PARAGRAPH STYLING ### */
p {
  font-size: 1.5rem;
  color: hsl(217deg, 12%, 63%);
}

/* ### RATING CONTAINER STYLING ### */
.rating-container {
  background-color: hsl(213deg, 19%, 18%);
  width: 37rem;
  height: 37rem;
  border-radius: 2rem;
  padding: 2.7rem;
}

/* ### RATING CONTAINER CONTENT STYLING ### */
/* ### RATING STAR ### */
#star {
  background-color: #43434B;
  width: 3.7rem;
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}
#star img {
  width: 38%;
  height: 36%;
  margin-left: 0.2rem;
}

/* ### HEADING CONTAINER STYLING ### */
#container-heading {
  color: hsl(0deg, 0%, 100%);
  font-size: 2.3rem;
  margin-top: 2.4rem;
}

/* ### REQUEST RATING TEXT ### */
#request-rating-text {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
#request-rating-text p {
  font-size: 1.4rem;
  text-align: justify;
  line-height: 2.2rem;
}

/* ### RATING RANGE SECTION ### */
#rating-range-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.3rem;
  margin-bottom: 3.6rem;
}
#rating-range-items li {
  list-style: none;
  display: inline-block;
  text-align: center;
  color: hsl(217deg, 12%, 63%);
  font-size: 1.8rem;
  background-color: #43434B;
  width: 4rem;
  height: 4rem;
  padding-top: 1rem;
  border-radius: 8rem;
  cursor: pointer;
}
#rating-range-items li:hover {
  background-color: hsl(217deg, 12%, 63%);
  color: hsl(0deg, 0%, 100%);
  transition: 0.2s;
}
#rating-range-items li .active-item {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}

/* ### BUTTON STYLING ### */
#submit-button {
  width: 100%;
  padding: 1rem;
  background-color: hsl(25deg, 97%, 53%);
  border-radius: 2rem;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
#submit-button:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
  transition: 0.2s;
}
