/* ### DEFAULT BODY STYLING ### */
.container {
  background-color: hsl(216deg, 12%, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/* ### DEFAULT PARAGRAPH STYLING ### */
p {
  font-size: 1.5rem;
  color: hsl(217deg, 12%, 63%);
}

/* ### THANK YOU CARD STYLING ### */
.thank-you-container {
  background-color: hsl(213deg, 19%, 18%);
  width: 37rem;
  height: 37rem;
  border-radius: 2rem;
  padding: 2.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ### THANK YOU CARD CONTENT STYLING ### */
/* ### THANK CARD IMAGE ### */
#card-image {
  margin-top: 1rem;
  margin-bottom: 2.7rem;
}

/* ### THANK TITLE STYLING ### */
#thank-title {
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 2.6rem;
  margin-top: 2.6rem;
  margin-bottom: 0.2rem;
}

/* ### REQUEST RATING TEXT ### */
#thank-text {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
#thank-text p {
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.2rem;
}
